.benefits {

    &__section {
        padding: var(--section-content-mobile) 0;

        @media screen and (min-width: 1200px) {
            padding: var(--section-content) 0;
        }
    }
    &__list {
                
        @media screen and (min-width: 768px) {
            margin: -15px;
                        
            display: flex;
            flex-wrap: wrap;
        }
        
    }
    &__item {
        
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 15px; 
            
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 4 * 30px) / 4);
            margin: 15px;
        }
    }
    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
        
    }

    &__box {
        max-width: 100%;   
        height: 120px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: var(--bcg-color-benefits)
    }
    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
        
        
    }
    &__text {
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: var(--desc-text-color)
    }
}