.footer {
    &__section {
        background: #2F303A;
        padding: 60px 0;
        @media screen and (max-width: 1199px) {
            text-align: center;
        }
    }
    &__conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
                
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            flex-direction: row;
            gap: 93px;
        }
    }
    &__holder {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            gap: 70px;
        }
    }
    &__tumb {
        @media screen and (max-width: 1199px) {
            margin-bottom: 60px;
        }
        
    }
    &__box {
        margin-bottom: 20px;
        
    }
    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--title-text-color)

    }
    &__desc {
        color: var(--accent-color);
    }
    &__box-soc {
        @media screen and (max-width: 1199px) {
            margin-bottom: 60px;
        }
            
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);

            }
    // form foters
    &__form {
        

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            gap: 12px;
        }
    }
    &__input {
        padding: 14px 16px;
        background-color: var(--bcg-footer);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    
        font-size: 16px;
        line-height: 1.25;
        color: #ffffff;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            width: 450px;
        }
        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        letter-spacing: 0.06em;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        color: #ffffff;
        background-color: var(--accent-color);
        border: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (max-width: 1199px) {
            margin-right: auto;
            margin-left: auto;
        }

        &:hover {
            background-color: #188CE8;
        }
    }
    &__icon {
        margin-left: 10px;
        fill: #ffffff;
    }

}