.mobile-menu {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 48px 40px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      


    &.is-open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;       
        
    }

    
    &__button {
        position: absolute;
        top: 10px; 
        right: 15px;
        border: none;
        background-color: #ffffff;
        fill: var(--primary-text-color);
    }

    &__button:hover {
        fill: var(--accent-color);
    }

    &__nav {
        margin-bottom: 306px;
    }

    &__item {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
    }
    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__link {
        color: var(--primary-text-color);
    }

    &__link-current {
        text-align: center;
        color: var(--accent-color);
    }

    &__contacts-list {
        margin-bottom: 64px;
    }
    
    &__contacts-item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__contacts-email {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    &__contacts-tel {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.166;
        letter-spacing: 0.02em;
        color: var(--desc-text-color);
    }

    &__soc-list {
        display: flex;
    }
    &__soc-item {
        position: relative;
    }

    &__soc-item:not(:last-child) {
        ::after {
            content: '';
            position: absolute;
            transform: translateX(calc(-100% + 10px));

            width: 1px;
            height: 100%;
            background-color: rgba(33, 33, 33, 0.2);;
            
        }
        padding-right: 20px;
    }

    &__soc-link {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

   
}

