:root {
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --desc-text-color: #757575;
    --accent-color: #2196F3;
    --section-content: 94px;
    --icon-pramery-color: #AFB1B8;
    --icon-accent-color: #2196F3;
    --icon-soc-footer: #ffffff;
    --icon-bcg-color: #FFFFFF;
    --bcg-color-benefits: #F5F4FA;
    --bcg-modal: #ffffff;
    --modal-form-color: rgba(33, 33, 33, 0.2);
    --modal-form-accent-color: #2196F3;
    --bcg-footer: #2F303A;
}
